html {
  box-sizing: border-box;
  min-width: 100%;
}

* {
  font-family: "Helvetica";
  /* google fonts */
  /* font-family: 'Work Sans', sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Shadows Into Light', cursive; */
}

body {
  background-color: #2d334a;
  /* secondary: #fab696 */
  /* alt: #0c9463 */
  /* alt2: #2d334a */
}

h4 {
  font-family: "Muli", sans-serif;
  font-size: 2em;
  color: #fab696;
}
p {
  font-family: "Roboto Mono", monospace;
  color: #fab696;
}

.formBar {
  display: flex;
  flex-direction: column;
}

.formItemContainer {
  display: flex;
  justify-content: space-around;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 1.25em;
  padding: 1.25em 0.25em;
}

.formItem p {
  color: #2d334a;
  padding-bottom: 1em;
}

.filterSelect {
  min-width: 8em;
  margin: 1em 0;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  /* border-left: 1px solid grey;
  padding-left: 0.75em; */
  min-height: 20em;
  margin-top: 3em;
}

.recipeCard {
  width: 85%;
}

.recipeCard h4 {
  padding: 0.5em 0;
}

.recipeCard p {
  padding: 0.5em 0;
}

.recipeCard .ingredientSection {
  display: flex;
  align-items: center;
  overflow: auto;
}

.recipeCard .ingredientList {
  display: flex;
  align-items: center;
}

.recipeCard .ingredientList span {
  margin: 0 0.5em;
  padding: 0.25em;
  border: 1px solid #eee;
  color: #eee;
}

.recipeCard button {
  margin-top: 3em;
}

.selectedOptionListItem {
  border: 1px solid black;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  align-items: center;
}

.formTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

.selectList {
  width: 20%;
}

.selectList li {
  margin: 1em 0.25em;
  padding: 0.5em;
  border: 1px solid #5f538a;
  color: #fab696;
  font-family: "Work Sans", sans-serif;
}

/* secondary: #fab696 */
/* alt: #0c9463 */
/* alt2: #2d334a */

.selectList li:hover {
  cursor: pointer;
}

.selectList .selectedOptionListItem {
  border: 3px solid #bf9ed4;
  color: #fab696;
}

.recipePage .recipeCard {
  margin-left: 2em;
}

.recipeNotes {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
}
