$backgroundcolor: #2d334a;
$linecolor: #f7a9b9;

html {
  box-sizing: border-box;
  min-width: 100%;
}

* {
  font-family: "Helvetica";
  /* google fonts */
  /* font-family: 'Work Sans', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Shadows Into Light', cursive; */
}

body {
  background-color: #2d334a;
  /* secondary: #fab696 */
  /* alt: #0c9463 */
  /* alt2: #2d334a */

  .mainContainer {
    min-height: 90vh;

    .loading {
      display: flex;
      justify-content: center;
      color: white;
      margin-top: 7em;
    }

    .footer {
      margin-top: 3em;
      display: flex;
      justify-content: space-between;
      font-size: 0.75em;
      a {
        color: white;
      }
      p {
        margin-right: 2em;
      }

      button {
        margin-left: 2em;
      }
    }
  }
}

h4 {
  font-family: "Muli", sans-serif;
  font-size: 2em;
  color: #fab696;
}
p {
  font-family: "Roboto Mono", monospace;
  color: #fab696;
}

.formBar {
  display: flex;
  flex-direction: column;
}

.formItemContainer {
  display: flex;
  justify-content: space-around;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 1.25em;
  padding: 1.25em 0.25em;
}

.formItem p {
  color: #2d334a;
  padding-bottom: 1em;
}

.filterSelect {
  min-width: 8em;
  margin: 1em 0;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-top: 5em;

  height: 82vh;
}

.admin {
  .recipeForm {
    display: flex;
    flex-direction: column;

    color: white;
  }

  .adminFormButton {
    width: 12%;
    margin: 0.5em 0;
  }

  .adminActions {
    width: 85%;
    display: flex;
    justify-content: flex-end;
  }

  .adminForm {
    min-width: 85%;

    input {
      margin-bottom: 1.5em;
    }
  }
}

.recipeCard {
  width: 85%;

  .adminButton button {
    margin-top: 0;
  }
}

.recipeCard h4 {
  padding: 0.5em 0;
}

.recipeCard p {
  padding: 0.5em 0;
}

.recipeCard .ingredientSection {
  display: flex;
  align-items: center;
  overflow: auto;
}

.recipeCard .ingredientList {
  display: flex;
  align-items: center;
}

.recipeCard .ingredientList span {
  margin: 0 0.5em;
  padding: 0.25em;
  border: 1px solid #eee;
  color: #eee;
}

.selectedOptionListItem {
  border: 1px solid black;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  align-items: center;
  height: 82vh;

  .signinContainer {
    display: flex;
    flex-direction: column;
    color: white;

    input {
      margin: 1em 0;
    }
    button {
      margin: 2em 0;
    }
  }
}

.formTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: -1em;
}

.selectList {
  min-width: 20%;
}

.selectList li {
  margin: 1em 0.25em;
  padding: 0.5em;
  border: 1px solid #5f538a;
  color: #fab696;
  font-family: "Work Sans", sans-serif;
}

/* secondary: #fab696 */
/* alt: #0c9463 */
/* alt2: #2d334a */

.selectList li:hover {
  cursor: pointer;
}
.selectList {
  margin-top: 1.5em;
  .selectedOptionListItem {
    border: 3px solid #bf9ed4;
    color: #fab696;
  }
}

.recipeNotes {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
}

.viewTitle {
  text-decoration: underline;
}

$height: 16px;
$halfheight: ($height/2);
$thickness: 110%; // increase to make the line thicker
$offset: 4px;

.zigzag {
  // use either (or both?) of these for the background
  // e38557
  // 87d6f4

  position: relative;
  z-index: 1;
  width: 100%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, #87d6f4 $halfheight, transparent 0) 0
        $halfheight,
      linear-gradient(135deg, #87d6f4 $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(
          -135deg,
          $backgroundcolor $halfheight,
          transparent 0
        )
        0 $halfheight,
      linear-gradient(135deg, $backgroundcolor $halfheight, transparent 0) 0
        $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}

.limitWidth15Form {
  width: 35%;
  min-height: 2.5em;
  display: flex;
  justify-content: center;
}

.recipePageTitle {
  padding: 0 0 1.5em 0;
  line-height: 15px;
}

.recipeDetails {
  margin-top: 2em;
}

.listAllMeals {
  margin-top: 2em;
  width: 85%;
}
